/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tutte le classi da me create avranno desinenza "-dvd"*/

/* Esercizio-1 */
.ex-1-dvd:hover {
  animation-name: full-color;
  animation-duration: 3s;
}
@keyframes full-color {
  from{background-color: #fff;}
  to{background-color: red;}
}

/* Esercizio-2 */
.ex-2-dvd:hover {
  transition-property: width;
  transition-duration: 13s;
  transition-timing-function: ease-in-out;
  width: 50%;
}

/* Esercizio-3 */
.ex-3-dvd {
  animation-name: square-to-circle;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 3;
}
@keyframes square-to-circle{
  100%{border-radius: 100%;}
}

/* Esercizio-4 */
.ex-4-dvd {
  animation-name: ghost;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes ghost{
  100%{opacity: 0;}
}

/* Esercizio-5 */
.ex-5-dvd:hover {
  transition-property: width;
  transition: 2s;
  transition-timing-function: ease-in-out;
  width: 120px;
  height: 120px;
}
.ex-5-dvd:active{
  cursor: pointer;
  transition-property: width;
  transition: 2s;
  transition-timing-function: ease-in-out;
  width: 60px;
  height: 60px;
}

/* Esercizio-6 */
.ex-6-dvd:hover {
  filter: grayscale(100%);
}

/* Esercizio-7 */
.ex-7-dvd:hover {
  animation-name: grayscale;
  animation-duration: 2s;
}
@keyframes grayscale{
  100%{filter: grayscale(100%);}
}