/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tutti i tag e le classi da me create avranno desinenza "-dvd" */

/* Esercizio-1 */
.ex-1-dvd:hover {
  animation-name: full-color;
  animation-duration: 3s;
}
@keyframes full-color {
  from{background-color: #fff;}
  to{background-color: red;}
}

/* Esercizio-2 */
.ex-2-dvd:hover {
  transition-property: width;
  transition-duration: 13s;
  transition-timing-function: ease-in-out;
  width: 50%;
}

/* Esercizio-3 */
.ex-3-dvd {
  animation-name: square-to-circle;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 3;
}
@keyframes square-to-circle{
  100%{border-radius: 100%;}
}

/* Esercizio-4 */
.ex-4-dvd {
  animation-name: ghost;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes ghost{
  100%{opacity: 0;}
}

/* Esercizio-5 */
.ex-5-dvd:hover {
  transition-property: width;
  transition: 2s;
  transition-timing-function: ease-in-out;
  width: 120px;
  height: 120px;
}
.ex-5-dvd:active{
  cursor: pointer;
  transition-property: width;
  transition: 2s;
  transition-timing-function: ease-in-out;
  width: 60px;
  height: 60px;
}

/* Esercizio-6 */
.ex-6-dvd:hover {
  filter: grayscale(100%);
}

/* Esercizio-7 */
.ex-7-dvd:hover {
  animation-name: grayscale;
  animation-duration: 2s;
}
@keyframes grayscale{
  100%{filter: grayscale(100%);}
}

/* Esercizio-8 */
.ex-8-dvd:hover {
  filter:blur(5px) hue-rotate(90deg);
}

/* Esercizio-9 */
.ex-9-dvd:hover {
  border-radius: 30px;
  transform: scale(1.5);
}

/* Esercizio-10 */
.ex-10-dvd:hover {
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}

@keyframes loading{
  0% {
    transform: rotate(1turn);
  }
}

/* Esercizio-11 */
.ex-11-dvd:hover {
  animation-name: loadingBit;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes loadingBit{
  0% {
    transform: rotate(0)
  }
  75% {
    transform: rotate(315deg)
  }
  100% {
    transform: rotate(0)
  }
}

/* Esercizio-12 */
.ex-12-button:hover .ex-12-top-white {
  animation-name: slide-top;
  animation-duration: 2s;
  animation-timing-function: linear ;
}
@keyframes slide-top {
  0% {
    left: 20%;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 20%;
  }
}
/* Esercizio-12 */
.ex-12-button:hover .ex-12-bottom-white {
  animation-name: slide-bottom;
  animation-duration: 2s;
  animation-timing-function: linear ;
}
@keyframes slide-bottom {
  0% {
    right: 20%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 20%;
  }
}

/* Esercizion 13 */
.ex-13-button:hover .ex-13-top-white {
  animation-name: snake-top;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes snake-top {
  0% {
    left: 10%;
    top: -10px;
   }
  30% {
    left: calc(100% - 30px);
    top: -10px;
  }
  45% {
    left: calc(100% - 30px);
    top: 100%;
  }
  75% {
    left: 0%;
    top: 100%;
  }
  90% {
    left: -15px;
    top: -10px;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white{
  animation-name: snake-bottom;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes snake-bottom{
  0% {
    bottom: 10%;
    right: -10px;
   }
  30% {
    bottom: calc(100% - 30px);
    right: -10px;
  }
  45% {
    bottom: calc(100% - 30px);
    right: 100%;
  }
  75% {
    bottom: 0%;
    right: 100%;
  }
  90% {
    bottom: -15px;
    right: -10px;
  }
  100% {
    bottom: 10%;
    right: -10px;
  }
}
