/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tutte le classi da me create avranno desinenza "-dvd"*/

/* Esercizio-1 */
.ex-1-dvd:hover {
  animation-name: full-color;
  animation-duration: 3s;
}
@keyframes full-color {
  from{background-color: #fff;}
  to{background-color: red;}
}

/* Esercizio-2 */
.ex-2-dvd:hover {
  transition-property: width;
  transition-duration: 13s;
  transition-timing-function: ease-in-out;
  width: 50%;
}

/* Esercizio-3 */
.ex-3-dvd:hover {
  transition-property: border;
  animation-name: circle;
  animation-duration: 3s;
  animation-timing-function: linear;
}
@keyframes circle{
  from{border-radius: 0;}
  to{border-radius: 50%;}
}